{% extends 'user/base.twig' %}

{% block body %}

<div class="breadcrumbps">
    <ul>
        <li><a href="/">Главная</a>&nbsp;/&nbsp;</li>
        <li>{{ title }}</li>
    </ul>
</div>

<h1 class="other-page-title">{{ title }}</h1>

<div class="other-page-wrapper">
    <div class="page-category-wrapper">
        <a href="#">
            <div class="page-category__block">
                <img src="/assets/img/other-pages/add-materials/1.svg" alt="">
                <p>Рекламная продукция</p>
            </div>
        </a>

        <a href="#">
            <div class="page-category__block">
                <img src="/assets/img/other-pages/add-materials/2.svg" alt="">
                <p>Фото продукции</p>
            </div>
        </a>

        <a href="#">
            <div class="page-category__block">
                <img src="/assets/img/other-pages/add-materials/3.svg" alt="">
                <p>Техническая документация</p>
            </div>
        </a>

        <a href="/addmaterials/sertificates">
            <div class="page-category__block">
                <img src="/assets/img/other-pages/add-materials/4.svg" alt="">
                <p>Сертификаты и описания типа</p>
            </div>
        </a>

        <a href="#">
            <div class="page-category__block">
                <img src="/assets/img/other-pages/add-materials/5.svg" alt="">
                <p>Часто задаваемые вопросы</p>
            </div>
        </a>

        <a href="/addmaterials/check-lists">
            <div class="page-category__block">
                <img src="/assets/img/other-pages/add-materials/6.svg" alt="">
                <p>Опросные листы</p>
            </div>
        </a>
    </div>
</div>

{% endblock %}