{% extends 'user/base.twig' %}

{% block body %}

<div class="breadcrumbps">
    <ul>
        <li><a href="/">Главная</a>&nbsp;/&nbsp;</li>
        <li><a href="/addmaterials">Доп.материалы</a>&nbsp;/&nbsp;</li>
        <li>{{ title }}</li>
    </ul>
</div>

<h1 class="other-page-title">{{ title }}</h1>

<div class="other-page-wrapper">
    <div class="other-page-wrapper_downloadable">
            <a href="/assets/cabinet-materials/faq/chem-otlichaetsya-m4209-ot-m4207-datchiki-skorosti.zip" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                    <p>Чем отличается М4209 от М4207-датчики скорости</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/utrachen-pasport-na-avtomobilnye-vesy.docx" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/word.svg" alt="">
                    <p>Утрачен паспорт на автомобильные весы</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/uteryan-klyuch-ot-programmnogo-obespecheniya-kak-vosstanovit.doc" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/word.svg" alt="">
                    <p>Утерян ключ от программного обеспечения. Как восстановить?</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/trebovaniya-k-podhodnym-putyam-pri-stroitelstve-vagonnyh-vesov.docx" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/word.svg" alt="">
                    <p>Требования к подходным путям при строительстве вагонных весов</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/trebovaniya-k-podhodnym-putyam-i-ustanovke-gpu-vagonnyh-vesov.docx" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/word.svg" alt="">
                    <p>Требования к подходным путям и установке ГПУ вагонных весов</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/otkaznoe-pismo-o-sertifikacii-vde-po-tr-ts-010-2011.pdf" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/pdf.svg" alt="">
                    <p>Отказное письмо о сертификации ВДЭ по ТР ТС 010-2011</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/scenarii-raboty-avtomatizirovannyh-vesovyh.zip" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                    <p>Сценарии работы автоматизированных весовых</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/solo-klassika-attestat-akkreditacii.zip" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                    <p>Соло-Классика. Аттестат. Аккредитации</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/soderzhanie-dragocennyh-metallov-v-produkcii-proizvodstva-metra.doc" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/word.svg" alt="">
                    <p>Содержание драгоценных металлов в продукции производства Метра</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/sgorel-pribor-net-zazemleniya.zip" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                    <p>Сгорел прибор нет заземления</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/svidetelstva-na-giri.zip" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                    <p>Свидетельства на гири</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/raspoznavanie-avtomobilnyh-nomerov-trebovaniya-k-ustanovke-kamer.pdf" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/pdf.svg" alt="">
                    <p>Распознавание автомобильных номеров. Требования к установке камер</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/programma-zapuskaetsya-v-demonstracionnom-rezhime.docx" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/word.svg" alt="">
                    <p>Программа запускается в демонстрационном режиме. Что делать?</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/problemy-so-svyazyu-mezhdu-priborom-mikrosim-i-pk.docx" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/word.svg" alt="">
                    <p>Проблемы со связью между прибором Микросим и ПК</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/podklyuchenie-staryh-priborov-m0601-s-razyomom-rs7-po-rs232-rs485.zip" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                    <p>Подключение старых приборов М0601 с разъёмом РС7 по RS232 RS485</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/podkladki-relsy-protivougony-v-sostave-vagonnyh-vesov.zip" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                    <p>Подкладки, рельсы, противоугоны, в составе вагонных весов</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/poverka-v-sokrashchennom-obeme-ili-dlya-otdelnyh-izmeritelnyh-kanalov.docx" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/word.svg" alt="">
                    <p>Поверка в сокращенном объеме или для отдельных измерительных каналов</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/poveritel-ukazal-na-nesootvetstvie-v-re-ne-vypisyvaet-svidetelstvo.zip" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                    <p>Поверитель указал на несоответствие в РЭ не выписывает свидетельство</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/pishchevoj-sertifikat-vde-m8500.pdf" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/pdf.svg" alt="">
                    <p>Пищевой сертификат ВДЭ М8500</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/pereprogrammirovanie-klyucha-udalenno-bez-peresylki.doc" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/word.svg" alt="">
                    <p>Перепрограммирование ключа удаленно без пересылки</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/oshibki-err-cifrovyh-vesov-mpsdrv.docx" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/word.svg" alt="">
                    <p>Ошибки Err цифровых весов MpsDrv</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/oshibki-err-mikrosim-m0601.zip" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                    <p>Ошибки Err Микросим М0601</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/otklyuchit-rezhim-avtozamorozki-v-m0601.docx" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/word.svg" alt="">
                    <p>Отключить режим автозаморозки в М0601</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/opredelit-versiyu-vnutrennej-proshivki-pribora.docx" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/word.svg" alt="">
                    <p>Определить версию внутренней прошивки прибора</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/opisaniya-tipa-sroki-dejstviya-sertifikatov-kak-najti.docx" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/word.svg" alt="">
                    <p>Описания типа сроки действия сертификатов. Как найти?</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/opisaniya-proshivok-dlya-m2606-algoritmy-raboty-doziruyushchego-pribora.zip" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                    <p>Описания прошивок для М2606. Алгоритмы работы дозирующего прибора</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/opisaniya-protokolov-obmena-m0601.zip" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                    <p>Описания протоколов обмена М0601</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/mozhno-li-ustanovit-vagonnye-puti-na-dannom-uchastke-puti.zip" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                    <p>Можно ли установить вагонные пути на данном участке пути</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/mozhno-li-vzveshivat-na-vagonnyh-staticheskih-vesah-vagony-bez-rascepki.docx" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/word.svg" alt="">
                    <p>Можно ли взвешивать на вагонных статических весах вагоны без расцепки</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/metodika-poiska-neispravnosti-v-analogovyh-avtomobilnyh-vesah.docx" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/word.svg" alt="">
                    <p>Методика поиска неисправности в аналоговых автомобильных весах</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/licenziya-na-proizvodstvo-remont-vesoizmeritelnogo-oborudovaniya.docx" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/word.svg" alt="">
                    <p>Лицензия на производство ремонт весоизмерительного оборудования</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/licenziya-na-programmnoe-obespechenie.zip" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                    <p>Лицензия на программное обеспечение</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/konvejernye-vesy-kalibrovka-tary-lenty.docx" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/word.svg" alt="">
                    <p>Конвейерные весы калибровка тары ленты</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/klyuch-usb-vzamen-klyucha-lpt.doc" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/word.svg" alt="">
                    <p>Ключ USB взамен ключа LPT</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/kak-podklyuchit-dubliruyushchee-tablo-m1900-ili-m1903-napryamuyu-k-priboru-m0601-b3.doc" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/word.svg" alt="">
                    <p>Как подключить дублирующее табло М1900 или М1903 напрямую к прибору М0601-Б3</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/kak-podklyuchit-dubliruyushchee-tablo-m1900-ili-m1903-napryamuyu-k-portu-h4-pribora-m0601-bm-.doc" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/word.svg" alt="">
                    <p>Как подключить дублирующее табло М1900 или М1903 напрямую к порту Х4 прибора М0601-БМ-2.1</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/instrukcii-po-montazhu.zip" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                    <p>Инструкции по монтажу</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/zamena-modulej-na-usilennye-v-vesah-universal.zip" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                    <p>Замена модулей на усиленные в весах Универсал</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/drajver-1s-na-upravlyaemyh-formah.doc" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/word.svg" alt="">
                    <p>Драйвер 1С на управляемых формах</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/dopustimye-predely-pogreshnostej-dlya-avto-vesov.zip" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                    <p>Допустимые пределы погрешностей для авто весов</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/dokumenty-smk.zip" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                    <p>Документы СМК</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/gde-najti-rukovodstvo-operatora-i-sistemnogo-programmista-k-programmam.docx" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/word.svg" alt="">
                    <p>Где найти руководство оператора и системного программиста к программам</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/vhod-v-rezhim-pereustanovki-kalibrovki-nulya-prosmotr-i-izmenenie-programmnyh-parametr.docx" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/word.svg" alt="">
                    <p>Вход в режим переустановки (калибровки) нуля. Просмотр и изменение программных параметров связи</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/vklyuchit-v-pribore-m0601-rezhim-postoyannoj-peredachi-kopii-indikatora.doc" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/word.svg" alt="">
                    <p>Включить в приборе М0601 режим постоянной передачи копии индикатора</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/vesy-medlenno-reagiruyut-na-ves-stabilizaciya-proiskhodit-dolgo.docx" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/word.svg" alt="">
                    <p>Весы медленно реагируют на вес стабилизация происходит долго</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/v-programme-vyskakivaet-oshibka-key-violation-chto-delat.docx" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/word.svg" alt="">
                    <p>В программе выскакивает ошибка Key violation что делать</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/v-pisme-poluchil-abrakadabru-kak-ispravit.docx" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/word.svg" alt="">
                    <p>В письме получил абракадабру как исправить</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/v-opisanii-tipa-m8200b-net-datchikov-n8s-poveritel-otkazalsya-vydavat-svidetelstvo-na-trek.zip" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                    <p>В описании типа М8200Б нет датчиков Н8С. Поверитель отказался выдавать свидетельство на ТРЭК</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/v-opisanii-tipa-m8200b-net-datchikov-n8s-poveritel-otkazalsya-vydavat-svidetelstvo-na-trek.zip" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                    <p>1С варианты интеграции</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/komplekty-dlya-modernizacii-avtomobilnyh-vesov.zip" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                    <p>Комплекты для модернизации автомобильных_весов</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/opisaniya-protokolov-obmena-m0601.zip" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                    <p>Описания протоколов обмена М0601</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/opisaniya-tipov-sredstv-izmerenij.zip" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                    <p>Описания типов средств измерений</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/protokol-elektromagnitnoj-sovmestimosti-bm-4-plastikovyj.zip" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                    <p>Протокол электромагнитной совместимости БМ-4 пластиковый</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/pribory-vesoizmeritelnye-mikrosim-modifikacii-m0808.pdf" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/pdf.svg" alt="">
                    <p>Приборы весоизмерительные Микросим модификации М0808</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/diagnostika-mnogokanalnyh-vesov.zip" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                    <p>Диагностика многоканальных весов</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/dopustimye-predely-dlya-pogreshnostej-vesov.zip" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                    <p>Допустимые пределы для погрешностей весов</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/kak-otpravit-v-remont-vesovoe-oborudovanie-metra.doc" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/word.svg" alt="">
                    <p>Как отправить в ремонт весовое оборудование Метра</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/klassifikator-produkcii.zip" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                    <p>Классификатор продукции</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/ssylki-dlya-skachivaniya-po-metra.docx" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/word.svg" alt="">
                    <p>Ссылки для скачивания ПО Метра</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/kolichestvo-delenij-v-datchikah-vesah-priborah-dvuhintervalnye-vesy.docx" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/word.svg" alt="">
                    <p>Количество делений в Датчиках весах приборах двухинтервальные весы</p>
                </div>
            </a>

            <a href="/assets/cabinet-materials/faq/mozhno-li-zamenit-1-datchik-c16-v-avto-vesah-na-hm14h.docx" class="downloadable-unit-link">
                <div class="downloadable-unit">
                    <img src="/assets/img/other-pages/add-materials/type-files/word.svg" alt="">
                    <p>Можно ли заменить 1 датчик C16 в авто весах на HM14H</p>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}