{% extends 'user/base.twig' %}

{% block body %}

<div class="breadcrumbps">
    <ul>
        <li><a href="/">Главная</a>&nbsp;/&nbsp;</li>
        <li><a href="/addmaterials">Доп.материалы</a>&nbsp;/&nbsp;</li>
        <li>{{ title }}</li>
    </ul>
</div>

<h1 class="other-page-title">{{ title }}</h1>

<div class="other-page-wrapper">
    <div class="other-page-wrapper_downloadable">
        <a href="/assets/cabinet-materials/photo-materials/1.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Автомобильные бесфундаментные Кочевник</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/photo-materials/2.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Автомобильные весы ТРЭК</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/photo-materials/3.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Автомобильные Патриот</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/photo-materials/4.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Банер-удостоверение</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/photo-materials/5.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Большегрузные ТИТАН</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/photo-materials/6.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Бункерные</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/photo-materials/7.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Вагонные бесфундаментные</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/photo-materials/8.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Вагонные для статического взвешивания фундаментные</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/photo-materials/9.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Вагонные потележечные</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/photo-materials/10.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Вагонные статика динамика датчики НМ14Н</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/photo-materials/11.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Датчики</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/photo-materials/12.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Для животных</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/photo-materials/13.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Для ульев</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/photo-materials/14.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Дозаторы</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/photo-materials/15.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>ИКС</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/photo-materials/16.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>КИП</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/photo-materials/17.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Конвейерные весы</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/photo-materials/18.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Контейнерные весы</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/photo-materials/19.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Монорельсовые весы</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/photo-materials/20.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Платформенные весы</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/photo-materials/21.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Приборы</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/photo-materials/22.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Умная ферма</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/photo-materials/23.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Кочевник, альтернативная укладка плит</p>
            </div>
        </a>
    </div>
</div>

{% endblock %}