{% extends 'user/base.twig' %}

{% block body %}

<div class="breadcrumbps">
    <ul>
        <li><a href="/">Главная</a>&nbsp;/&nbsp;</li>
        <li><a href="/addmaterials">Доп.материалы</a>&nbsp;/&nbsp;</li>
        <li>{{ title }}</li>
    </ul>
</div>

<h1 class="other-page-title">{{ title }}</h1>

<div class="other-page-wrapper">
    <div class="other-page-wrapper_downloadable">
        <a href="/assets/cabinet-materials/sertificates/1.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Автомобильные весы М8200Б</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/sertificates/2.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Бункерные весы ВДЭ</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/sertificates/3.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Вагонные весы М8300</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/sertificates/4.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>ВДЭ Ех</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/sertificates/5.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Взрывозащищенное исполнение М8100, М8101, М8200, М8300</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/sertificates/6.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Датчики М5023</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/sertificates/7.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Декларация о соответствии Евразийский экономический союз</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/sertificates/8.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Дозаторы М8500</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/sertificates/9.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Казахстан сертификаты ВДЭ</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/sertificates/10.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Казахстан сертификаты М8200Б и М8300</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/sertificates/11.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Казахстан сертификаты М8400</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/sertificates/12.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Казахстан сертификаты М8401</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/sertificates/13.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Конвейерные весы М8400</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/sertificates/14.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Конвейерные дозаторы М8401</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/sertificates/15.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>М90 Измерительная система</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/sertificates/16.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Монорельсовые весы М8700</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/sertificates/17.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Платформенные весы М8000</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/sertificates/18.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Платформенные весы М8100</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/sertificates/19.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Платформенные весы М8101</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/sertificates/20.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Приборы Микросим</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/sertificates/21.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Сертификаты Беларусь</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/sertificates/22.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Сертификаты на датчики Vishay</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/sertificates/23.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Тензодатчики М740DMet</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/sertificates/24.zip" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/zip.svg" alt="">
                <p>Уведомление (лицензия) на производство и ремонт средств измерений</p>
            </div>
        </a>
    </div>
</div>

{% endblock %}