</div>
</div>
</div>
</main>

<div class="fancy-box">
    <div class="fancy-box__wrapper">
        <div class="fanncy-message">
            <img src="assets/img/sucess.svg" alt="">
            <p>Регистрация прошла успешно</p>
        </div>
    </div>
</div>

<script src="assets/vendor/airDatepicker/air-datepicker.js"></script>
<script type="module" src="assets/vendor/splide-carousel/js/splide.min.js"></script>
<script type="module" src="assets/js/common.js"></script>
<script type="module" src="assets/js/Main.js"></script>
</body>
</html>