</div>
</div>
</div>
</main>

<div class="fancy-box">
    <div class="fancy-box__wrapper">
        <div class="fanncy-message">
            <img src="/assets/img/sucess.svg" alt="">
            <p>Регистрация прошла успешно</p>
        </div>
    </div>
</div>

<script src="/assets/js/airDatepicker/air-datepicker.js"></script>
<script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
<script src="/assets/js/owl-carusel/owl.carousel.min.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/owl-settings.js"></script>
<script src="/assets/js/calendar-settings.js"></script>
</body>
</html>