<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/vendor/splide-carousel/css/splide-core.min.css">
    <link rel="stylesheet" href="assets/vendor/airDatepicker/air-datepicker.css">
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <title>{$pageTitle}</title>
</head>
<body>
<main class="main">
    <aside class="sidebar">
        <div class="sidebar__logo">
            <img src="assets/img/metra-logo.svg" alt="">
            <p>Кабинет диллера</p>
        </div>

        <nav class="sidebar__menu">
            <ul class="sidebar__menu-list">
                {foreach $sidebarPages as $sidebarPage}
                <li class="{$sidebarPage['class']}">
                    <a href="{$sidebarPage['url']}" class="sidebar__menu-item-link">
                        <div class="sidebar__menu-item-link-icon">
                            {$sidebarPage['img']}
                        </div>
                        <p>{$sidebarPage['name']}</p>
                    </a>
                </li>
                {/foreach}
            </ul>
        </nav>
    </aside>
    <div class="work-area">
        <div class="box-container">
            <header class="work-area__header">
                <h1 class="page-title">{$pageName}</h1>
                <div class="other-header__block">

                    <div class="notification-header">
                        <div class="notification-header__bell">
                            <img src="assets/img/bell.svg" alt="">
                            <div class="notification-header__bell-round notification-header__bell-round_active"></div>
                        </div>
                    </div>

                    <div class="demiter-header"></div>

                    <div class="header-person">
                        <h4 class="header-person__name">{$headerUserName}</h4>
                        <div class="header-person__round">
                            <div class="header-person__round-img">
                                <img src="assets/img/user.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <div class="work-space">