{% extends 'admin/base.twig' %}

{% block body %}
    <div class="input-block-item">
        <label for="title-news">Заголовок новости</label>
        <input type="text" id="title-news" placeholder="Введите заголовок">
    </div>

    <div class="input-block-item">
        <p>Превью новости</p>
        <label class="input-file">
            <input type="file" name="userFile" id="upload-file">
            <span>Загрузите файл</span>
        </label>
    </div>

    <div class="input-block-item">
        <label for="title-news">Дата создания</label>
        <input type="text" id="date-create" placeholder="Дата создания">
    </div>

    <input type="hidden" id="addr-img">

    <div class="text-editor-block">
        <textarea id="tiny">
        </textarea>
    </div>
    <button onclick="getData()" class="standart-btn">Сохранить</button>


    <script src="https://cdn.tiny.cloud/1/ulstx657tv0zwzrnr726ouufo4f3ttvjjs929ri7ol3dqwss/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tinymce/tinymce-jquery@1/dist/tinymce-jquery.min.js"></script>
    <script>
        $('textarea#tiny').tinymce({
            height: 500,
            menubar: false,
            plugins: [
                'advlist','autolink',
                'lists','link','image','charmap','preview','anchor','searchreplace','visualblocks',
                'fullscreen','insertdatetime','media','table','help','wordcount'
            ],
            toolbar: 'undo redo | a11ycheck casechange blocks | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist checklist outdent indent | removeformat | insertdatetime | image media | code table help'
        });

        function getData() {
            var html = tinymce.activeEditor.getContent();
            var title = $('#title-news').val();
            var date = $('#date-create').val();
            var thumb = $('#addr-img').val();

            $.ajax({
                url: '/createNews',
                method: 'post',
                dataType: 'html',
                data: {
                    title: title,
                    html: html,
                    thumb: thumb,
                    date_create: date,
                },
                success: function(data){
                    $(location).attr('href','/admin/news');
                }
            });
        }
    </script>
{% endblock %}