{% extends 'admin/base.twig' %}

{% block body %}
    <div class="input-block-item">
        <label for="title-news">Заголовок новости</label>
        <input type="text" id="title-news" placeholder="Введите заголовок" value="{{ newsItem.title }}">
    </div>

    <div class="input-block-item">
        <p>Превью новости</p>
        <img src="{{ newsItem.thumb }}" class="news-preview" alt="">
    </div>

    <div class="input-block-item">
        <label for="title-news">Дата создания</label>
        <input type="text" id="date-create" placeholder="Дата создания" value="{{ newsItem.date_create }}">
    </div>

    <div class="text-editor-block">
        <textarea id="tiny">
            {{ newsItem.html | raw }}
        </textarea>
    </div>
    <button class="standart-btn">Сохранить</button>


    <script src="https://cdn.tiny.cloud/1/ulstx657tv0zwzrnr726ouufo4f3ttvjjs929ri7ol3dqwss/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tinymce/tinymce-jquery@1/dist/tinymce-jquery.min.js"></script>
    <script>
        $('textarea#tiny').tinymce({
            height: 500,
            menubar: false,
            plugins: [
                'advlist','autolink',
                'lists','link','image','charmap','preview','anchor','searchreplace','visualblocks',
                'fullscreen','insertdatetime','media','table','help','wordcount'
            ],
            toolbar: 'undo redo | a11ycheck casechange blocks | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist checklist outdent indent | removeformat | insertdatetime | image media | code table help'
        });

        function getData() {
            var html = tinymce.activeEditor.getContent();
            console.log(html);
        }
    </script>
{% endblock %}