{% extends 'user/base.twig' %}

{% block body %}

<div class="breadcrumbps">
    <ul>
        <li><a href="/">Главная</a>&nbsp;/&nbsp;</li>
        <li><a href="/academy">Академия метра</a>&nbsp;/&nbsp;</li>
        <li><a href="/academy/instructions">Видео инструкции</a>&nbsp;/&nbsp;</li>
        <li>{{ title }}</li>
    </ul>
</div>

<h1 class="other-page-title">{{ title }}</h1>

<div class="other-page-wrapper">
    <div class="other-page-wrapper_single">
        <iframe width="560" height="315" src="{{ instruction.src }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>

{% endblock %}