{% extends 'user/base.twig' %}

{% block body %}

<div class="breadcrumbps">
    <ul>
        <li><a href="/">Главная</a>&nbsp;/&nbsp;</li>
        <li><a href="/academy">Академия метра</a>&nbsp;/&nbsp;</li>
        <li>{{ title }}</li>
    </ul>
</div>

<h1 class="other-page-title">{{ title }}</h1>

<div class="other-page-wrapper">
    <div class="page-category-wrapper">
        <a href="/academy/presentations/1">
            <div class="page-category__block page-category__block_page-elem">
                <img src="/assets/img/presentations/1.png" alt="">
                <p>Видео с производства</p>
            </div>
        </a>
    </div>
</div>

{% endblock %}