{% extends 'user/base.twig' %}

{% block body %}

<div class="breadcrumbps">
    <ul>
        <li><a href="/">Главная</a>&nbsp;/&nbsp;</li>
        <li><a href="/academy">Академия метра</a>&nbsp;/&nbsp;</li>
        <li>{{ title }}</li>
    </ul>
</div>

<h1 class="other-page-title">{{ title }}</h1>

<div class="other-page-wrapper">
    <div class="page-category-wrapper">
        <a href="/academy/presentations/1">
            <div class="page-category__block page-category__block_page-elem">
                <img src="/assets/img/presentations/1.png" alt="">
                <p>Видео с производства</p>
            </div>
        </a>
    </div>

    <div class="other-page-wrapper_downloadable">
        <a href="/assets/cabinet-materials/presentatitons/cifrovye-vozmozhnosti-vzveshivaniya-i-dozirovaniya.pptx" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/pptx.svg" alt="">
                <p>Цифровые возможности взвешивания и дозирования</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/presentatitons/mtg-iks.pptx" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/pptx.svg" alt="">
                <p>MTG ИКС</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/presentatitons/mtg-m-mr-pro.pptx" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/pptx.svg" alt="">
                <p>MTG M+MR+PRO</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/presentatitons/galaktit-ekonomicheskij-effekt.pptx" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/pptx.svg" alt="">
                <p>Галактит экономический эффект</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/presentatitons/itelma.pdf" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/pdf.svg" alt="">
                <p>Итэлма</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/presentatitons/luchshie-praktiki-sistemy-ucheta-materialov.pptx" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/pptx.svg" alt="">
                <p>Лучшие практики системы учета материалов</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/presentatitons/prezentaciya-milkit.pptx" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/pptx.svg" alt="">
                <p>Презентация MILKit</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/presentatitons/prezentaciya-milkit.pptx" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/pptx.svg" alt="">
                <p>Презентация MILKit</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/presentatitons/prezentaciya-obshchaya-metra-group-2022.pdf" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/pdf.svg" alt="">
                <p>Презентация общая Metra group 2022</p>
            </div>
        </a>

        <a href="/assets/cabinet-materials/presentatitons/cifrovoj-sklad.pdf" class="downloadable-unit-link">
            <div class="downloadable-unit">
                <img src="/assets/img/other-pages/add-materials/type-files/pdf.svg" alt="">
                <p>Цифровой склад</p>
            </div>
        </a>
    </div>
</div>

{% endblock %}