{% extends 'user/base.twig' %}

{% block body %}

<div class="breadcrumbps">
    <ul>
        <li><a href="/">Главная</a>&nbsp;/&nbsp;</li>
        <li><a href="/academy">Академия метра</a>&nbsp;/&nbsp;</li>
        <li>{{ title }}</li>
    </ul>
</div>

<h1 class="other-page-title">{{ title }}</h1>

<div class="other-page-wrapper">
    <div class="page-category-wrapper">
        <a href="/academy/presentations">
            <div class="page-category__block page-category__block_page-elem">
                <img src="/assets/img/vebinars/1.png" alt="">
                <p>Вебинар "Модернизация автомобильных весов"</p>
            </div>
        </a>

        <a href="/academy/presentations">
            <div class="page-category__block page-category__block_page-elem">
                <img src="/assets/img/vebinars/1.png" alt="">
                <p>Вебинар "Модернизация автомобильных весов"</p>
            </div>
        </a>

        <a href="/academy/presentations">
            <div class="page-category__block page-category__block_page-elem">
                <img src="/assets/img/vebinars/1.png" alt="">
                <p>Вебинар "Модернизация автомобильных весов"</p>
            </div>
        </a>

        <a href="/academy/presentations">
            <div class="page-category__block page-category__block_page-elem">
                <img src="/assets/img/vebinars/1.png" alt="">
                <p>Вебинар "Модернизация автомобильных весов"</p>
            </div>
        </a>

        <a href="/academy/presentations">
            <div class="page-category__block page-category__block_page-elem">
                <img src="/assets/img/vebinars/1.png" alt="">
                <p>Вебинар "Модернизация автомобильных весов"</p>
            </div>
        </a>

        <a href="/academy/presentations">
            <div class="page-category__block page-category__block_page-elem">
                <img src="/assets/img/vebinars/1.png" alt="">
                <p>Вебинар "Модернизация автомобильных весов"</p>
            </div>
        </a>
    </div>

    <div class="pagination-block">
        <ul class="pagination-list">
            <li class="no-borders"><a href="#"><</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">></a></li>
        </ul>
    </div>
</div>

{% endblock %}