{% extends 'user/base.twig' %}

{% block body %}

<div class="breadcrumbps">
    <ul>
        <li><a href="/">Главная</a>&nbsp;/&nbsp;</li>
        <li>{{ title }}</li>
    </ul>
</div>

<h1 class="other-page-title">{{ title }}</h1>

<div class="other-page-wrapper">
    <div class="page-category-wrapper">
        
    </div>
</div>

{% endblock %}