<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <title>{{ title }}</title>
</head>

<body>

<div class="service-form__wrapper">
    <div class="service-form">
        <div class="service-form__title">
            <img src="assets/img/logo-blue.png" alt="">
            <h1>Ожидание авторизации</h1>
            <p>Ожидайте пока вашу авторизацию одобрит отдел по работе с диллерами</p>
        </div>

        <img class="await-page" src="assets/img/await.svg" alt="">

        <p class="service-form__text">Обычно процесс занимает до суток, при дольшем сроке подтверждения обращаться к Машковой Елене.</p>

        <a href="/auth" class="service-form__link"><button id="loginBtn" class="blue-btn blue-btn_serv">Понятно</button></a>
    </div>
</div>

<div class="fancy-box">
    <div class="fancy-box__wrapper">
        <div class="fanncy-message">
            <img src="assets/img/sucess.svg" alt="">
            <p>Регистрация прошла успешно</p>
        </div>
    </div>
</div>

<script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>