{% extends 'admin/base.twig' %}

{% block body %}
    <table id="table_id">
        <thead>
        <tr>
            <th>Название</th>
            <th>Тип установки</th>
            <th>Тип измерения</th>
            <th>Измеряемый вес</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody></tbody>
    </table>
{% endblock %}