{% extends 'user/base.twig' %}

{% block body %}
<div class="slider-main owl-carousel">
    <div class="slide__unit">
        <img src="assets/img/slider/slide1.png" alt="">
        <div class="slide__unit-mask">
            <h2>Обновление модельного ряда Весов Кочевник</h2>
            <a href="#"><button>Ознакомиться</button></a>
        </div>
    </div>

    <div class="slide__unit">
        <img src="assets/img/slider/slide1.png" alt="">
        <div class="slide__unit-mask">
            <h2>Обновление модельного ряда Весов Кочевник</h2>
            <a href="#"><button>Ознакомиться</button></a>
        </div>
    </div>

    <div class="slide__unit">
        <img src="assets/img/slider/slide1.png" alt="">
        <div class="slide__unit-mask">
            <h2>Обновление модельного ряда Весов Кочевник</h2>
            <a href="#"><button>Ознакомиться</button></a>
        </div>
    </div>
</div>

<div class="common-module">
    <h4 class="common-module__title">Последние новости:</h4>
    <a href="/news" class="common-module__link">Смотреть все новости</a>

    <div class="common-module__cards">
        <a href="#" class="common-module__card-link">
            <div class="common-module__card">
                <img src="assets/img/news.png" alt="">
                <div class="common-module__card-overlay">
                    <div class="common-module__card-overlay-date"><p>05.05.2022</p></div>
                    <p class="common-module__card-overlay-name">Новогоднее поздравление Никитиной Татаьяны, Генерального директора ...</p>
                </div>
            </div>
        </a>

        <a href="#" class="common-module__card-link">
            <div class="common-module__card">
                <img src="assets/img/news.png" alt="">
                <div class="common-module__card-overlay">
                    <div class="common-module__card-overlay-date"><p>05.05.2022</p></div>
                    <p class="common-module__card-overlay-name">Новогоднее поздравление Никитиной Татаьяны, Генерального директора ...</p>
                </div>
            </div>
        </a>

        <a href="#" class="common-module__card-link">
            <div class="common-module__card">
                <img src="assets/img/news.png" alt="">
                <div class="common-module__card-overlay">
                    <div class="common-module__card-overlay-date"><p>05.05.2022</p></div>
                    <p class="common-module__card-overlay-name">Новогоднее поздравление Никитиной Татаьяны, Генерального директора ...</p>
                </div>
            </div>
        </a>

        <a href="#" class="common-module__card-link">
            <div class="common-module__card">
                <img src="assets/img/news.png" alt="">
                <div class="common-module__card-overlay">
                    <div class="common-module__card-overlay-date"><p>05.05.2022</p></div>
                    <p class="common-module__card-overlay-name">Новогоднее поздравление Никитиной Татаьяны, Генерального директора ...</p>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="common-module">
    <h4 class="common-module__title">Вебинары:</h4>
    <a href="/academy/vebinars" class="common-module__link">Смотреть все вебинары</a>

    <div class="common-module__cards">
        {% for vebinar in vebinars %}
        <a href="/academy/vebinars/{{ vebinar.id }}" class="common-module__card-link">
            <div class="common-module__card common-module__card-vebinar">
                <div class="common-module__card-overlay">
                    <p class="common-module__card-overlay-author">Организатор: Е. Машкова</p>
                    <div class="common-module__card-overlay-meta">
                        <div class="common-module__card-overlay-date"><p>{{ vebinar.date_create }}</p></div>
                        <p class="common-module__card-overlay-name">{{ vebinar.title }}</p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}