{% extends 'user/base.twig' %}

{% block body %}

<div class="breadcrumbps">
    <ul>
        <li><a href="/">Главная</a>&nbsp;/&nbsp;</li>
        <li>{{ title }}</li>
    </ul>
</div>

<h1 class="other-page-title">{{ title }}</h1>

<div class="other-page-wrapper">
    <div class="news-wrapper">
        <a href="#">
            <div class="news-page-unit news-page-unit_big">
                <div class="img-wrapper">
                    <img src="" alt="">
                </div>
                <div class="news-page-unit__text">
                    <h4>Тестовая новость</h4>
                    <p class="news-page-unit__preview">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    <p class="news-page-unit_publication">01.05.2022</p>
                </div>
            </div>
        </a>
        

        <a href="#">
            <div class="news-page-unit news-page-unit_sm">
                <div class="img-wrapper">
                    <img src="" alt="">
                </div>
                <div class="news-page-unit__text">
                    <h4>Тестовая новость</h4>
                    <p class="news-page-unit__preview">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <p class="news-page-unit_publication">01.05.2022</p>
                </div>
            </div>
        </a>
        

        <a href="#">
            <div class="news-page-unit news-page-unit_sm">
                <div class="img-wrapper">
                    <img src="" alt="">
                </div>
                <div class="news-page-unit__text">
                    <h4>Тестовая новость</h4>
                    <p class="news-page-unit__preview">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <p class="news-page-unit_publication">01.05.2022</p>
                </div>
            </div>
        </a>

        <a href="#">
            <div class="news-page-unit news-page-unit_sm">
                <div class="img-wrapper">
                    <img src="" alt="">
                </div>
                <div class="news-page-unit__text">
                    <h4>Тестовая новость</h4>
                    <p class="news-page-unit__preview">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <p class="news-page-unit_publication">01.05.2022</p>
                </div>
            </div>
        </a>

        <a href="#">
            <div class="news-page-unit news-page-unit_sm">
                <div class="img-wrapper">
                    <img src="" alt="">
                </div>
                <div class="news-page-unit__text">
                    <h4>Тестовая новость</h4>
                    <p class="news-page-unit__preview">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <p class="news-page-unit_publication">01.05.2022</p>
                </div>
            </div>
        </a>
    </div>

    <div class="pagination-block">
        <ul class="pagination-list">
            <li class="no-borders"><a href="#"><</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">></a></li>
        </ul>
    </div>
</div>

{% endblock %}